<h1>It's INDEX PAGE</h1>
<div class="container">
    <div class="row">
        <div class=" col-6 game_container border rounded-lg">
            <a asp-controller="Games" asp-action="RockPaperScissors">
                <img class="img-fluid" src="~/img/rock_paper-scissors.png" alt="Game photo" />
            </a>
        </div>
    </div>
</div>