<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title - My Game WebSite</title>
    </head>
    <body>
        <header>
            <div>
                <p><a asp-controller="Home" asp-action="Index">Home page</a></p>
            </div>
        </header>
        <div>@RenderBody()</div>
        <footer>Footer</footer>
    </body>
</html>